@use "../../responsive.scss" as device;

.property {
  display: flex;

  margin-top: 50px;
  margin-bottom: 50px;

  .left {
    flex: 4;
    padding: 10px;

    .filter-container {
      display: flex;

      .input-section {
        width: 100%;
        .location {
          input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
          }
        }
      }

      .filter-types {
        .property-type {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          align-items: center;

          .type {
            select {
              width: 100%;
              height: 40px;
              padding: 10px;
              border-radius: 5px;
              border: 1px solid #ccc;
              margin-bottom: 10px;
              color: black;
            }
          }

          .bedrooms {
            input {
              width: 100%;
              padding: 10px;
              border-radius: 5px;
              border: 1px solid #ccc;
              margin-bottom: 10px;
            }

            @include device.sm {
              width: 40%;
            }
          }

          .price {
            display: flex;
            gap: 10px;
            input {
              width: 100%;
              padding: 10px;
              border-radius: 5px;
              border: 1px solid #ccc;
              margin-bottom: 10px;
            }
          }

          .search {
            button {
              width: 100%;
              padding: 10px;
              background-color: #4caf7b;
              color: white;
              font-weight: bolder;
              border: none;
              margin-top: 10px;
              cursor: pointer;
            }
            @include device.sm {
              width: 100%;
              button {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .right {
    flex: 2;
    height: 100vh;

    @include device.sm {
      display: none;
    }
  }

  .device-map-btn {
    display: none;

    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
    @include device.sm {
      display: flex;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4caf7b;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }

      .map-icon {
        margin-right: 8px;
      }
    }
  }

  .map-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @include device.sm {
      display: flex;
    }

    .modal-content {
      background-color: white;
      padding: 20px;
      padding-top: 10%;
      border-radius: 10px;
      position: relative;
      width: 90%;
      max-width: 600px;
      max-height: 90%;
      overflow-y: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      .close-btn {
        position: absolute;
        z-index: 10;
        top: 5px;
        right: 10px;
        background: none;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;

        color: #333;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}
