@use "../../responsive.scss" as device;
$primary-color: #1d3557;
$secondary-color: #457b9d;
$text-color: #f1faee;
$overlay-color: rgba(0, 0, 0, 0.6);

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px 20px;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf7b;

    span {
      color: #444;
    }
  }

  .nav-links {
    display: flex;
    list-style: none;

    li {
      margin: 0 15px;
    }

    a {
      color: #666;
      text-decoration: none;
      font-size: 1rem;
      position: relative;
      transition: transform 0.3s ease, color 0.3s ease;

      &:hover {
        color: #4caf7b;
      }

      &.active {
        color: #4caf7b;
        transform: translateY(-3px); // Jump effect

        &::after {
          content: "";
          display: block;
          margin: auto;
          height: 2px;
          width: 5px;
          background: #4caf7b;
          transition: width 0.3s;
        }
      }
    }
    @include device.md {
      display: none;
    }
  }

  .user-profile-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 10px;

    &:hover {
      background-color: gainsboro;
    }

    .icon {
      width: 30px;
      border-radius: 50%;
      display: flex;

      img {
        width: 100%;
        background: none;
      }
    }

    .user-dropdown-options {
      position: absolute;
      display: flex;
      z-index: 2;
      flex-direction: column;
      background-color: #fff;
      width: 150px;
      top: 100%;
      left: -30px;
      box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);

      a,
      div {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        color: black;
        font-weight: bold;
        transition: all 0.4s ease;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
        }

        @include device.sm {
          display: initial;
        }
      }
    }
  }

  .hamburger-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .auth-links {
    display: flex;
    align-items: center;

    .signin {
      margin-right: 15px;
      color: #4caf7b;
      text-decoration: none;
    }

    .login-btn {
      background-color: #4caf7b;
      color: white;
      padding: 5px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1rem;
    }
  }

  .hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    display: none;
    color: black;
    cursor: pointer;
    outline: none;

    @include device.md {
      display: flex;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: $secondary-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    z-index: 100;

    &.open {
      left: 0;
    }

    .close-btn {
      align-self: flex-end;
      background: none;
      border: none;
      color: $text-color;
      font-size: 1.5rem;
      cursor: pointer;
      margin-bottom: 2rem;
    }

    nav {
      width: 100%;
      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 1rem 0;

          a {
            text-decoration: none;
            color: $text-color;
            font-size: 1.2rem;
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  // Overlay
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    z-index: 10;
    transition: all 0.5s ease-in;
  }
}
